[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hydra-core = ">=1.2.0"
wandb = ">=0.13"
tree-sitter = "*"
pygraphviz = "*"
graphviz = "*"
numpy = "*"
transformers = ">=4.22.0"
tokenizers = "*"
box2d = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
